.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 80%;
    margin: auto;
}

.logo{
    margin-left: 4rem;
    background-image: url("../components/boxingLogo.png");
    width: 300px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
}

.navLinks{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-inline-start: 0px;
    gap: 50px;
    margin-right: 4rem;
}

.nav li{
    display: flex;
    align-items: center;
}

.nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.nav a::after{
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: white;
    transition: width .3s;
}

.nav a:hover::after{
    width: 100%;
}

.mobileLinks{
    display: none;
}

.remove-scroll {
    overflow-y: hidden;
}

#menuIcon{
    display: none !important;
    cursor: pointer;
    margin-top: 18px;
}

@media(max-width:1150px){
    .navbar{
        width: 100%;
    }
} 

@media(max-width:900px){
    #menuIcon{
        display: block !important;
        z-index: 20;
        color: white;
        transform: scale(2.3);
    }

    .navLinks > *{
        display: none !important;
    }

    .mobileLinks2{
        transform: translate(-50%, -100%) !important;
        transition: transform 0.5s ease !important;
    }

    .mobileLinks{
        display: flex;
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translate(-50%,0%);
        height: 105vh;
        width: 100%;
        background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(121,9,9,1) 100%);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 200;
        padding: 0px;
        margin: 0px;
        transition: transform 0.5s ease;
    }

    .mobileMenu{
        border: 5px solid white;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobileMenu > *{
        margin: 3rem;
        transform: scale(2);
    }

    #menuIcon2{
        color: white;
        cursor: pointer;
        align-self: center;
    }
}

@media (max-width: 520px){
    .logo{
        transform: scale(.7);
        margin-left: 0;
    }
}