 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Saira+Condensed:wght@500&display=swap');

*{
  font-family: 'Raleway', sans-serif;
  font-family: 'Saira Condensed', sans-serif;
  letter-spacing: 2px;
}

button{
  color: white;
}

body{
  background-color: rgb(234, 234, 234);
}

button{
  background-color: red;
  padding: .3rem 1.3rem;
  font-size: large;
  border: 2px solid rgba(255, 255, 255, 0);
  transition: all 0.4s ease;
  white-space: nowrap;
}

span{
  color: red;
}

button:hover {
  background-color: white;
  border: 2px solid red;
  color: red;
}
